on:
  workflow_run:
    workflows: ["Tests"]
    types:
      - completed
    branches:
      - main
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
          run_install: false
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "24"

      - run: |
          pnpm i --frozen-lockfile
          pnpm build

      - uses: JS-DevTools/npm-publish@4ce4bd0f334d5316473155078da1955d42148494 # v4.1.4
        id: publish

      - name: Create Tag
        if: ${{ steps.publish.outputs.type }}
        id: create_tag
        uses: jaywcjlove/create-tag-action@65ebf9d9302994fc17481c71293bbc97d94bf8e7 # v2.2.0
        with:
          package-path: ./package.json

      - name: Generate Changelog
        id: changelog
        uses: jaywcjlove/changelog-generator@375efb7dcccd624b195b84603362d68950a7c07e # v2.2.6
        if: steps.create_tag.outputs.successful
        with:
          head-ref: ${{steps.create_tag.outputs.version}}
          filter-author: (Uninen|renovate-bot)
          show-emoji: false

      - name: Get the changelog
        run: echo "${{ steps.changelog.outputs.changelog }}"

      - name: Create Release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        if: steps.create_tag.outputs.successful
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: ${{ steps.create_tag.outputs.version }}
          tag: ${{ steps.create_tag.outputs.version }}
          body: |
            ${{ steps.changelog.outputs.changelog }}

            Compare changes: ${{ steps.changelog.outputs.compareurl }}

            Read more from the Changelog: https://github.com/slipmatio/toolbelt/blob/main/CHANGES.md
